@keyframes fall {
  0%{
    background-color: rgba(250, 35, 107, 0);
    top: -5rem;
  }
  70%{
    background-color: rgba(250, 35, 107, 0);
  }
  
  100%{
    background-color: rgba(250, 35, 107, 0.404);
    top: 100%;
  }
}

@keyframes shoot {
  100%{
    bottom: 105%;
  }
}

@keyframes dieoff {
  0%{
    opacity: 1;
  }

  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

